@page
@model StockMgtApp.Pages.Logic.ModifyModel
@{
}

<div>
    <form method="post">
        <table class="table">
            <thead>
                <tr class="col-md-8">
                    <th>Id</th>
                    <th>StockItem</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th></th>

                </tr>
            </thead>
            <tbody class="col-5">
                <tr>
                    <td> <input asp-for="@Model.StockItem.Id" readonly class="form-control" /></td>
                    <td><input  asp-for="@Model.StockItem.Category.Name"/></td>
                    <td><input asp-for="@Model.StockItem.Quantity" class="form-control"></td>
                    <td><input asp-for="@Model.StockItem.Unitprice" class="form-control" readonly /></td>
                    <td><input asp-for="@Model.StockItem.Total" class="form-control" readonly /></td>
                    <td><input asp-for="@Model.StockItem.NewTotal" class="form-control" hidden /></td>

                </tr>

            </tbody>

        </table>
        <input type="submit" name="name" value="Submit" class="btn btn-primary" />
        <a href="/Logic/list" class="btn btn-primary">Go back</a>
    </form>
</div>
